.setting-wrap {
    .slide-wrap {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .slide-list {
            .slide-table {
                margin-top: 10px;
                border: 0 none;
                .ivu-table:after {
                    background-color: inherit;
                }
                .ivu-table:before {
                    background-color: #e9eaec;
                }
                .ivu-btn-small {
                    padding: 3px 19px;
                    border-radius: 4px;
                }
                .ivu-dropdown {
                    .ivu-btn-small {
                        padding: 3px 15px;
                        border-radius: 4px;
                    }
                }
            }
        }
        .page {
            .ivu-page-options-elevator {
                input {
                    text-align: center;
                }
            }
        }
    }
    .tip {
        color: rgba(101, 113, 128, 0.5);
        line-height: 18px;
    }
    .page {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    .ivu-table-wrapper {
        border-top: 1px solid #e9eaec !important;
    }
}
.upload-picture-modal {
    .ivu-modal {
        top: 180px;
        width: 772px !important;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        .ivu-modal-content {
            width: 100%;
            height: 100%;
            padding: 16px  20px;
            .ivu-modal-close {
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                background-color: #e3e8ee;
                border-radius: 50%;
                margin-top: 14px;
                .ivu-icon-ios-close-empty {
                    font-size: 20px;
                    top: -1.5px;
                    color: #657180;
                }
            }
        }
        .ivu-modal-header {
            padding: 11px 0;
        }
        .ivu-modal-footer {
            border-top: 0;
            display: none;
        }
        .ivu-form {
            .tip {
                color: rgba(101, 113, 128, 0.5);
                line-height: 18px;
            }
            .ivu-form-item {
                .image-preview {
                    position: relative;
                    width: 90px;
                    display: inline-block;
                    margin-right: 10px;
                    &:hover {
                        button {
                            display: block;
                        }
                    }
                    button {
                        display: none;
                        position: absolute;
                        right: 6px;
                        top: 6px;
                        padding: 0;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background: rgba(0, 0, 0, .3);
                        color: #fff;
                        z-index: 100;
                        i {
                            font-size: 18px;
                        }
                    }
                    > img {
                        display: block;
                        width: 90px;
                        height: 90px;
                    }
                }
                .ivu-upload {
                    display: inline-block;
                    background: #f5f7f9;
                    height: 90px;
                    width: 90px;
                    > .ivu-upload-select {
                        background: url("../image/plus.svg") center no-repeat;
                        height: 90px;
                    }
                }
            }
        }
    }
}
.slide-category-modal {
    margin-top: 12px;
    .ivu-form {
        .ivu-btn-primary {
            margin-bottom: 60px;
        }
    }
}
.slide-category-delete-modal {
    text-align: center;
    .ivu-form {
        margin-top: 60px;
        .ivu-input-wrapper {
            margin-top: 20px;
            .ivu-input {
                text-align: center;
            }
        }
        .ivu-form-item-error-tip {
            left: 50%;
            margin-left: -42px;
        }
        .ivu-btn-primary {
            margin-top: 60px;
            padding: 6px 27px;
        }
    }
}