.setting-wrap {
    .slide-wrap {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .prompt-box {
            background-color: #f5f7f9;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .slide-list {
            .slide-table {
                margin-top: 10px;
                margin-bottom: 400px;
                border: 0 none;
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
            }
        }
        .tip {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
        a {
            display: inline-block;
            line-height: 18px;
            text-decoration: underline;
        }
    }
}
.slide-category-modal {
    margin-top: 12px;
    .ivu-form {
        .ivu-btn-primary {
            margin-bottom: 60px;
        }
    }
}