.setting-wrap {
    .slide-group {
        .edit-link-title {
            background-color: #fff;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
        }
        .slide-list {
            .slide-table {
                margin-top: 10px;
                margin-bottom: 400px;
                border: 0 none;
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
            }
        }
        .tip {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
        a {
            display: inline-block;
            line-height: 18px;
            text-decoration: underline;
        }
    }
}